{% extends "base.html" %}

{% block head %}

    <title>About Us</title>

    <style>
        /* Three columns side by side */
        body{
            zoom: 80%;
        }
        .column {
        float: center;
        width: 33.3%;
        margin-bottom: 16px;
        padding: 0 8px;
        padding-top: 60px;
        }

        /* Display the columns below each other instead of side by side on small screens */
        @media screen and (max-width: 650px) {
        .column {
            width: 100%;
            display: block;            
        }
        }

        /* Add some shadows to create a card effect */
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 350px;
            margin: auto;
            text-align: center;
            
        }

        /* Some left and right padding inside the container */
        .container {
        padding: 0 16px;
        }

        /* Clear floats */
        .container::after, .row::after {
        content: "";
        clear: both;
        display: flex;
        justify-content: center;
        }
        .row {
            justify-content: center;
        }
        .title {
            color: grey;
            font-size: 18px;
        }
        a {
            text-decoration: none;
            font-size: 22px;
            color: black;
        }

        .button {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 8px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;
        }

        .button:hover {
        background-color: #555;
        }

        .text-ckeditor{
            text-align: left;
            padding: auto;

        }
        .title-section{
            text-align: left;
            padding: auto;
        }
    </style>
{% endblock %}

{% block content %}
<br>
<div class="title-section">
<h1>What is melanoma Skin Cancer?</h1>
</div>
<div class="text-ckeditor section">
    <p> </p>
    <p>Melanoma is a type of skin cancer that develops when melanocytes (the cells that give the skin its tan or brown color) start to grow out of control.Cancer starts when cells in the body begin to grow out of control.</p>
    <p>Cancer starts when cells in the body begin to grow out of control. Cells in nearly any part of the body can become cancer, and can then spread to other areas of the body. </p>
    <p>Melanoma is much less common than some other types of skin cancers. But melanoma is more dangerous because it’s much more likely to spread to other parts of the body if not caught and treated early.</p>
    <p> </p>
</div>

<div class="title-section">
    <h2>Where do skin cancers start?</h2>
    </div>
    <div class="text-ckeditor section">
        <p> </p>
        <p>Most skin cancers start in the top layer of skin, called the epidermis. There are 3 main types of cells in this layer:</p>
        <ul>
            <li>
                <strong>Squamous cells - </strong>
                These are flat cells in the upper (outer) part of the epidermis, which are constantly shed as a new ones form.
            </li>
            <li>
                <strong>Basal cells - </strong>
                These cells are in the lower part of the epidermis, called the basal cell layer.These cells constantly divide to form new cells to replace the squamous cells that wear off the skin's surface. As these cells move up in the epidermis, they get flatter,eventually becoming squamous cells.
            </li>
            <li>
                <strong>Melanocytes - </strong>
                These are the cells that can become melanoma. They normally make a brown pigment called melanin, which gives the skin its tan or brown color. Melanin protects the deeper layers of the skin from some of the harmful effects of the sun.
            </li>
        </ul>
        <p>The epidermis is separated from the deeper layers of skin by the basement membrane. When a skin cancer becomes more advanced, it generally grows through this barrier and into the deeper layers.</p>
        <p> </p>
    </div>

    <div class="title-section">
        <h2>How to use the tool?</h2>
        </div>
        <div class="text-ckeditor section">
            <p> </p>
            <ul>
                <li>
                    An image of the skin lesion should be uploaded. The image should be in .jpeg,.png or .jpg format otherwise the tool will not take it as an input image.
                </li>
                <li>
                    After selecting the image, the user needs to press the upload button.
                </li>
                <li>
                    Once the image is successfully uploaded the model will provide us with the result and their confidence level.
                </li>
                <li>
                    With the download pdf button the user can choose to download the pdf of the predicted results also.
                </li>
            </ul>
            
            <p> </p>
        </div>
<!-- Add icon library -->
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->


<!--<div class="row">
    <div class="column">
      <div class="card">
        <img src="" alt="" style="width:100%">
        <div class="container">
          <h2></h2>
          <p class="title"></p>
          <p></p>
          <a href="" target="_blank"><i class="fa fa-linkedin"></i></a>
          <p> <a href=""><button class="button">Contact</button></a></p>
        </div>
      </div>
    </div>-->
  </div>
  </div>
</div>
{% endblock %}