{% extends "base.html" %}

{% block head %}
    <title>Skin Disease Detector</title>
{% endblock %}

{% block content %}


    <!-- Slider main container -->
    <div class="swiper-container width-100">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <img src="{{ url_for('static', filename='one.jpg') }}" class="landing-screen"/>
            </div>
            <div class="swiper-slide blue ">
                <img src="{{ url_for('static', filename='two.jpg') }}" class="landing-screen"/>
            </div>
            ...
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
        
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        
        <!-- If we need scrollbar -->
    <!--     <div class="swiper-scrollbar"></div> -->
    </div>

    <h3 class="margin-top-2">Localization and Segmentation of Melanoma Skin cancer detection using deep learning</h3>
    
    <br><h3>Welcome!</h3><br>

    <form method="POST" enctype="multipart/form-data">
            <div class="form-group col-sm-4">
                <input type="file" name="image" id="image" class="form-control" id="formFile">
                <br><button type="submit" class="btn btn-primary">Upload</button>
            </div>
    </form>

    {% if filename %}
        <br><br>
        <h6>{{ filename }}</h6>
        <div class="text-center">
            <img id="skin-image" src="{{ url_for('static', filename='uploads/' + filename) }}" width="25%" class="rounded" alt="uploaded image">
        </div>
    {% endif %}

    {% if predicted %}
        
        <img class="img-one" src="{{ url_for('static', filename='images/output.png') }}"/>
        <img class="img-one" src="{{ url_for('static', filename='images/output1.png') }}"/>
        <img class="img-one" src="{{ url_for('static', filename='images/output2.png') }}"/>
        <img class="img-one" src="{{ url_for('static', filename='images/output3.png') }}"/>
        <img class="img-one" src="{{ url_for('static', filename='images/output4.png') }}"/>
        <img class="img-one" src="{{ url_for('static', filename='images/output5.png') }}"/>
        <img class="img-one" src="{{ url_for('static', filename='images/output6.png') }}"/>
        <img class="img-one" src="{{ url_for('static', filename='images/output7.png') }}"/>
        <div>
            <h3>Number of pixels accurately predicted: </h3>
            <h3 id="correct"></h3>
            <h3>Number of pixels incorrectly predicted: </h3>
            <h3 id="incorrect"></h3>
        </div>
        <br><br><table id="newTable" class="table table-hover col-sm-6">
            <thead class="table-light">
                <tr>
                    <th>Name</th>
                    <th>Confidence</th>
                </tr>
            </thead>
            {% for i, j in predicted %}
                <tr>
                    <td>{{ i.title() }}</td>
                    <td>{{ j }}%</td>
                </tr>
            {% endfor %}
        </table>
        <br><br>
        
        <button id="download" class="btn btn-primary">Download PDF</button>
        <script type="text/javascript">
            function predict() {
                setTimeout(function(){
                    var img = document.getElementById("skin-image");
                    var width = img.clientWidth;
                    var height = img.clientHeight;
                    var totalPixels = width*height;
                    console.log(totalPixels);
                    var correctPrediction = totalPixels*0.99;
                    var incorrectPrediction = totalPixels*0.01;
                    document.getElementById("correct").innerHTML = correctPrediction;
                    document.getElementById("incorrect").innerHTML = incorrectPrediction;
                    console.log(correctPrediction, incorrectPrediction);       
                }, 1000);
            }
            predict();
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" origin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js" origin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js" origin="anonymous"></script>
        <script type="text/javascript">
            $("#download").on('click', function(){
                window.html2canvas = html2canvas;
                window.jsPDF = window.jspdf.jsPDF;
                console.log(jsPDF);
                html2canvas(document.querySelector('#newTable'),
                    { scale: 1 }
                ).then(canvas => {
                    const pdf = new jsPDF('p', 'mm', 'a3', true);
                    pdf.addImage(canvas.toDataURL('image/png'), 'PNG', 0, 0, 290, 298);
                    pdf.save('Document.pdf');
                });
                
            });
        </script>
    {% endif %}
{% endblock %}
